/* ######### Global ######## */
body {
  background-color: #343a40 ;
  color: rgba(255, 255, 255, 0.5);
}

.logo{
  width:60%;
}
#page-navigation {
  background: #fff;
  padding-top: 115px;
  color: #444; 
}
  #page-navigation .previous-link {
    color: #444 !important; 
  }

#footer a {
  color: rgba(255, 255, 255, 0.5);
 }
#footer img{
  width:50%;
}
.navbar-brand{
  width:50% !important;
}

hr{
  border-bottom: 1px solid #000;
}

#light-section {
  background-color: #f8f9fa;
  color: #444; }


@media only screen and (max-width: 925px) {
  .social{
    display:none;
  }
}
@media only screen and (max-width: 1050px) {
  #main-links{
    font-size:85%;
  }
  }

/* ######### Showcases  ############## */

/* Home Page Showcase */
#showcase {
  background: url("../img/showcase1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}

  #showcase .home-inner {
    padding-top: 150px; }
  #showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px; }
  #showcase .fa {
    color: #0D47A1;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; 
  }

/* About Page Showcase */
  #about-showcase {
  background: url("../img/aboutus.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
  #about-showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px; }

    #about-showcase .showcase-inner{
      padding-top:200px;
    }
/* Board Page Showcase */
#board-showcase {
  background: url("../img/board.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
  #board-showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px; }

    #board-showcase .showcase-inner{
      padding-top:200px;
    }

/* Bylaws Showcase */
#bylaws-showcase {
  background: url("../img/bylaws.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
  #bylaws-showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px; }

    #bylaws-showcase .showcase-inner{
      padding-top:200px;
    }


  /* Membership Request Page, Contact Us Page Showcase */
  #form-showcase {
  background: url("../img/membership.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
  #form-showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px; }

    #form-showcase .showcase-inner{
      padding-top:200px;
    }

/* Mission, Presidents, Training Events, and Resources Showcase */
  #general-showcase {
  background: url("../img/presidents.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
  #general-showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px; }

    #general-showcase .showcase-inner{
      padding-top:200px;
    }

/* Scholarship Showcase */
#scholarship-showcase {
  background: url("../img/scholarship-showcase.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
  #scholarship-showcase .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px; }

    #scholarship-showcase .showcase-inner{
      padding-top:200px;
    }

/* ######### Home Page  ############## */

#events-section .ind-event {
  border-width: 1px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  font-family: 'Roboto', sans-serif; }

#events-section .heading-title {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-size: 3em; }

#events-section a {
  color: #000; }

#events-section .date {
  font-size: .85em;
  font-family: 'Roboto', sans-serif; }

#more-section .text-dark:hover {
  color: #fff !important; }

#more-section .fa-users {
  color: #3FB618; }

#more-section .fa-globe {
  color: #2A9FD6; }

#more-section .fa-key {
  color: #ff8800; }



#checkmarks .fa {
  color: #008ed6;
  background: #aaa;
  padding: 4px;
  border-radius: 5px;
  font-size: 15px; }


  /* ######### Scholarship Page ############# */
.scholarship-image{
  width:75%;
}


/* ########### Resources Page ############ */

@media only screen and (max-width: 925px) {
  #resources-tables img{
    width:50%;
  }
}
        